# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
local_settings.py

# Virtual Environment
.venv/
venv/
env/
*.env

# IDE
.idea/
.vscode/

# Database
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Compiled files
*.pyc
*.class

# Unit test reports
.coverage
htmlcov/

# Translation files
*.mo

# Other
*.swp
*.swo
.DS_Store
